body {
    margin: 0;
}
.main {
    margin: 0;
    background-image: url(hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-style: normal;
}

.header {
    display: flex;
    height: 20%;
    background-color: #cbc1b1;
}
.navbar {
    display: flex;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 5%;
    gap: 8%;
    font-size: small;
    align-items: center; 
    font-family: 'Lato';
    font-style: normal; 
    visibility: visible;
}  
.navbar h1:hover {
   cursor: pointer;
   background-color: lightslategray;
   height: 100%;
   padding: 1%;
   position: static;
}
.navbar h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.herosection{
    background-color: rgba(108, 122 , 137, 0.3);
    position: absolute;
    width: 40%;
    height: 45%;
    right: 5%;
    top: 50%;
    text-align: center; 
    font-style: normal;  
}
.herosection p{
    width: 573.53px;
    height: 120px;
    right: 68.24px;
    top: 636px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.1em;
    text-align: center;
    color: #F8F7EC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.herosection h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #F8F7EC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}
.bottomsec{
   margin: 8%;
   text-align: center;
   font-size: medium;
}
.bottomsec h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    font-size:x-small;
    background-color: #cbc1b1;
    padding: 2%;
    text-align: center;
}
.bottomimg{
    display: flex;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-basis: content;
}
.bottomimg p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;  
}
.bottomimg h1{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
.footer h1 {
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 600px){
    .main{
        background-color: #F8F7EC;
        background-image: none;
        height: 100%;
    }
    .herosection p{
        width: fit-content;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-align: center;
    }
    .herosection{

        background-color: #7C7474;
        align-items: center;
        width: fit-content;
        margin-left: 5%;
        margin-top: -30%;
        height: 30%;
        
    }
    .bottomsec{
        margin-top: 70%;
    }
    .bottomimg{
        flex-direction: column;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        font-size: x-small;
        margin-top: -3%;
    }
   
}

  

