body {
    margin: 0;
    background-image: url(hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header {
    display: flex;
    height: 300px;
    background-color: #cbc1b1;
}
.navbar {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 2000px;
    top: 70px;
    gap: 200px;
    font-size: x-large;
    align-items: center;
    
    
    
    
}

    
.navbar h1:hover {
   cursor: pointer;
   background-color: lightslategray;
   height: 100%;
   
   
}

.herosection{
    background-color: rgba(108, 122 , 137, 0.3);
    position: absolute;
    width: 1000px;
    height: 600px;
    right: 30px;
    top: 50%;
    text-align: center;
   
}

.herosection p{
    width: 573.53px;
    height: 120px;
    right: 68.24px;
    top: 636px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.1em;
    text-align: center;
    
    color: #F8F7EC;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
