body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: white;
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 1%;
}
  
.header-logo {
    position: relative;
    height: 100%;
    left: 12%;
}
  
.header-logo>img{
    height: 100%;
}
  
.navbar {
    display: flex;
    position: absolute;
    top: 45px;
    right: 12%;
}
  
.nav-item {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 0;
}
  
.headline-1 {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}
  
.hero-section {
    display: flex;
    margin-top: 75px;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #f2b880;
    height: 580px;
    border-radius: 15px;
}
  
.hero-img>img{
    height: 72%;
    box-shadow: -25px -25px 0px 0px #e88121;
}
  
.hero-img { 
    width: 60%;
    display: flex;
    align-items: center;
    padding-right: 1%;
    padding-left: 6%;
} 
.hero-text {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 7%;
    color: #752400;
    line-height: 30px;
} 
.text {
    margin: 80px 675px 50px 675px;
    font-size: 16px;
    line-height: 22px;
} 
.top-link-wrapper {
    display: flex;
    justify-content: right;
}
.top-link {
    position: fixed;
    display: flex;
    justify-content: right;
    height: 40px;
    width: 40px;
    bottom: 0;
    margin: 0 20px 20px 0;
} 
.top-link>a>img {
    height: 100%;
}